${global_cloud_config}

write_files:
  - path: /etc/hosts
    content: |
      ${bastion_ip} bastion
    append: true

runcmd:
${global_runcmd}
  - sleep 30
  - >
    curl -sfL https://get.k3s.io | INSTALL_K3S_CHANNEL=${channel} K3S_TOKEN=${token} K3S_URL=https://${bastion_ip}:6443 sh -s -
    server
${global_k3s_config}
