${global_cloud_config}

write_files:
  - path: /etc/hosts
    content: |
%{ for s in servers ~}
      ${s.ip} ${s.name} ${cluster_name}-${s.name}
%{ endfor ~}
    append: true

runcmd:
${global_runcmd}
  - >
    curl -sfL https://get.k3s.io | INSTALL_K3S_CHANNEL=${channel} K3S_TOKEN=${token} sh -s -
    server --cluster-init
${global_k3s_config}
