%{ if role == "controller" ~}
%{ for component in disabled_components ~}
    --disable=${component}
%{ endfor ~}
%{ endif ~}
    --flannel-iface=${interface}
    --node-ip=${node_ip}
%{ for taint in taints ~}
    --node-taint=${taint}
%{ endfor ~}
%{ for key, value in args ~}
    --kubelet-arg=${key}=${value}
%{ endfor ~}
