%{ if ssh_port != null ~}
  - sed -i "/^#Port/s/^.*$/Port ${ssh_port}/" /etc/ssh/sshd_config
%{ endif ~}
  - sed -i "/^PermitRootLogin/s/^.*$/PermitRootLogin no/" /etc/ssh/sshd_config
  - systemctl restart ssh
  - curl -o bootstrap-salt.sh -L https://bootstrap.saltproject.io
  - >
    sh bootstrap-salt.sh -i ${minion_id}
%{ if bastion }
    -M
%{ endif }
  - 'sed -i "s/#master: salt/master: ${ bastion ? "localhost" : "bastion" }/" /etc/salt/minion'
  - systemctl restart salt-minion
