terraform {
  required_providers {
    hcloud = {
      source = "hetznercloud/hcloud"
    }
  }
}

provider "hcloud" {
  token = "xxx"
}

module "hcloud-k3s" {
  providers = {
    hcloud = hcloud
  }

  source = "okami101/hcloud-k3s"

  server_image       = "ubuntu-22.04"
  server_location    = "nbg1"
  server_timezone    = "Europe/Paris"
  server_locale      = "fr_FR.UTF-8"
  server_packages    = ["nfs-common"]

  ssh_port = 2222

  cluster_name       = "kube"
  cluster_user       = "kube"

  my_public_ssh_name = "kube"
  my_public_ssh_key  = "ssh-ed25519 xxxxx"
  my_ip_addresses    = ["0.0.0.0/0", "::/0"]

  k3s_channel        = "stable"

  controllers = {
    server_type       = "cx21"
    server_count      = 1
    private_interface = "ens10"
  }

  workers = [
    {
      role              = "worker"
      server_type       = "cx21"
      server_count      = 2
      private_interface = "ens10"
    },
    {
      role              = "data"
      server_type       = "cx21"
      server_count      = 1
      private_interface = "ens10"
    }
  ]

  lb_services = [80, 443]
}
