Host ${cluster_name}
    HostName ${bastion_ip}
    HostKeyAlias ${cluster_name}-bastion
    User ${cluster_user}
    Port ${ssh_port}

%{ for s in servers ~}
Host ${cluster_name}-${s.name}
    HostName ${s.ip}
    HostKeyAlias ${cluster_name}-${s.name}
    User ${cluster_user}
    Port ${ssh_port}
%{ if !use_bastion ~}
    ProxyJump ${cluster_name}
%{ endif ~}

%{ endfor ~}
