Host ${cluster_name}
    HostName ${bastion_ip}
    User ${cluster_user}
    Port 2222

%{ for s in servers ~}
Host ${cluster_name}-${s.name}
    HostName ${s.ip}
    HostKeyAlias ${cluster_name}-${s.name}
    User ${cluster_user}
    Port 2222
    ProxyJump ${cluster_name}

%{ endfor ~}
